* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: top;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    font-family: 'Pretendard', sans-serif;
}

/*header style*/
#genesis_header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background: rgba(0,0,0,0.8);
}
.header-inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger{
    border: none;
    background: none;
    cursor: pointer;
}
.hamburger img{
    width: 25px;
    height: 25px;
}
.genesis_logo>a>img{
    padding-top: 5px;
}
.login-btn{
    background: none;
    border: none;
    cursor: pointer;
}
.login-btn img{
    width: 30px;
    height: 30px;
}

/*nav style*/
#Menu_box {
    position: fixed;
    top: 80px; left: 0;
    width: 100%; height: 100vh;
    color: #fff;
    z-index: 1100;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
}
#Menu_box.active {         /* 햄버거 클릭 시 열림 */
    transform: translateX(0);
}
.menu-inner {
    display: flex;
    width: 100%;
    height: 100%;
}
/* 왼쪽 메인 메뉴 */
.mainMenu-list {
    width: 40%; 
    display: flex;
    flex-direction: column;
    padding: 10% 0 0 10%;
    backdrop-filter: blur(20px) saturate(1.8);
    background: rgba(0, 0, 0, .15);
    z-index: 600;
}
.mainMenu-list li a {
    font-size: 24px;
    display: inline-block;
    margin: 20px 0;
    opacity: 0.7;
    transition: 0.5s;
}
.mainMenu-list li a.active,
.mainMenu-list li a:hover {
    opacity: 1;
}

/* 오른쪽 서브 메뉴 */
.subMenu-list {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #000;
    opacity: 0.8;
    transition: .3s ease-in-out;
    opacity: 0;
    z-index: 500;
    transform: translateX(-2%);
}
.subMenu {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: transform .3s , opacity .3s;
    text-align: center;
}
#Menu_box.show-sub .mainMenu-list{
    opacity: 1; pointer-events: none;
}
#Menu_box.show-sub .subMenu-list{  
    transform:translateX(0);   /* 제자리로 슬라이드 인 */
    opacity: 0.9;
}
.subMenu.active {
    opacity: 1;
    pointer-events: auto;
}
.subMenu li {
    margin: 30px 0;
}
.subMenu li a {
    font-size: 20px;
    opacity: 0.7;
    transition: 0.5s;
}
.subMenu li a:hover {
    opacity: 1;
}
.back-btn{
    position: absolute; top: 30px; left: 30px;
    background: none; border: 0; color: #fff; font-size: 16px;
    cursor: pointer; opacity: .8; z-index: 2;
}
.back-btn:hover{ opacity: 1; }

/*section1 style*/
#section1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#section1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.section1-content{
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    width: 100%;
    z-index:1;
}
.text-block {
    color: #fff;
    font-size: 32px;
    position:absolute;
    top:0; left:0; right:0;
    opacity:0;
    transition:opacity 0.6s ease;
    line-height:1.6;
}
.text1 {opacity:1;} /* 첫 번째는 보이게 시작 */

/*section2 style*/
#section2{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#section2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.section2-content{
    position: absolute;
    bottom: 30%;
    left: 20%;
    width: 30%;
    color: #fff;
}
.section2-title{
    font-size: 60px;
    margin-bottom: 50px;
}
.section2-desc{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.section2-btns{
    display: flex;
    gap: 30px;
    position: relative;
}
.more-btn>a,
.buy-btn>a{
    display: block;
    position: relative;
    color: #fff;
    padding: 5px;
}
.more-btn>a:before,
.buy-btn>a:before{
    content:'';
    width:0%;
    height:1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s ease-in;
}
.more-btn>a:hover:before,
.buy-btn>a:hover:before{width: 100%;}

/*section3 style*/
#section3{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#section3 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.section3-content{
    position: absolute;
    bottom: 30%;
    left: 20%;
    width: 30%;
    color: #fff;
}
.section3-title{
    font-size: 60px;
    margin-bottom: 50px;
}
.section3-desc{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.section3-btns{
    display: flex;
    gap: 30px;
    position: relative;
}

/*section4 style*/
#section4{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#section4 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.section4-content{
    position: absolute;
    bottom: 30%;
    left: 20%;
    width: 30%;
    color: #fff;
}
.section4-title{
    font-size: 60px;
    margin-bottom: 50px;
}
.section4-desc{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.section4-btns{
    display: flex;
    gap: 30px;
    position: relative;
}

/*section5 style*/
#section5{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#section5 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.section5-content{
    position: absolute;
    bottom: 30%;
    left: 20%;
    width: 30%;
    color: #fff;
}
.section5-title{
    font-size: 60px;
    margin-bottom: 50px;
}
.section5-desc{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.section5-btns{
    display: flex;
    gap: 30px;
    position: relative;
}

/*section6 style*/
#section6{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#section6 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.section6-content{
    position: absolute;
    bottom: 30%;
    left: 20%;
    width: 30%;
    color: #fff;
}
.section6-title{
    font-size: 60px;
    margin-bottom: 50px;
}
.section6-desc{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.section6-btns{
    display: flex;
    gap: 30px;
    position: relative;
}

/*section7 style*/
#section7{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#section7 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.section7-content{
    position: absolute;
    bottom: 30%;
    left: 20%;
    width: 30%;
    color: #fff;
}
.section7-title{
    font-size: 60px;
    margin-bottom: 50px;
}
.section7-desc{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.section7-btns{
    display: flex;
    gap: 30px;
    position: relative;
}

/*section8 style*/
#section8{
    padding: 150px 0 200px;
    background: #111;
    color: #fff;
}
.lineUp-inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.lineUp-header>h2{
    font-size: 42px;
}
.lineUp-header>p{
    font-size: 20px;
    margin: 50px 0;
}
.car-list {
    width: 100%;
    overflow-x: auto;    /* 가로 스크롤 가능 */
    overflow-y: hidden;  /* 세로 스크롤 방지 */
    scroll-behavior: smooth; /* 스크롤 부드럽게 */
    -webkit-overflow-scrolling: touch; /* 모바일에서 부드럽게 */
    scrollbar-width: none;     /* Firefox에서 스크롤바 숨김 */
    -ms-overflow-style: none;  /* IE/Edge에서 스크롤바 숨김 */
}
.car-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge에서 스크롤바 숨김 */
}
.car-slider {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;   /* 줄바꿈 없이 한 줄 배치 */
}
.car-card{
    flex-shrink: 0;
    width: 50%;
    max-width: 450px;
    background: #151515;
    padding: 37px 40px 49px;
    
}
.car-card:hover{
    border: 1px solid #333;
}
.car-card:hover>h3{
    color: #fff;
}
.car-card:hover>a{
    transform: translateY(-10px);
}
.car-card>h3{
    color: #bbb;
    font-size: 20px;
}
.car-card>img{
    margin: 40px 0;
    width: 100%;
}
.car-card>a{
    display: block;
    height: 56px;
    line-height: 56px;
    padding: 0 40px;
    border: 1px solid #fff;
    transition: 0.5s ease-in-out;
}
.car-card>a:hover{
    background: #fff;
    color: #111;
}
.car-card>a>p{
    text-align: center;
}
.icon-list{
    width: 100%;
    max-width: 1000px;
    margin: 210px auto 0;
}
.icon-list>ul{
    display: flex;
    justify-content: space-around;
}
.icon-list>ul>li>a{
    display: block;
    text-align: center;
}
.icon-box{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.box1{
    background: url(images/section8/Build-And-Price_black_60x60.png) no-repeat 50% 0;
    background-size: cover;
}
.box1:hover{
    background: url(images/section8/Build-And-Price_black_60x60_hover.gif) no-repeat 50% 0;
    background-size: cover;
}
.box2{
    background: url(images/section8/Price_black_60x60.png) no-repeat 50% 0;
    background-size: cover;
}
.box2:hover{
    background: url(images/section8/Price_black_60x60_hover.gif) no-repeat 50% 0;
    background-size: cover;
}
.box3{
    background: url(images/section8/Book-a-Test-Drive_black_60x60.png) no-repeat 50% 0;
    background-size: cover;
}
.box3:hover{
    background: url(images/section8/Book-a-Test-Drive_black_60x60_hover.gif) no-repeat 50% 0;
    background-size: cover;
}
.box4{
    background: url(images/section8/Download-E-Brochure_black_60x60.png) no-repeat 50% 0;
    background-size: cover;
}
.box4:hover{
    background: url(images/section8/Download-E-Brochure_black_60x60_hover.gif) no-repeat 50% 0;
    background-size: cover;
}

/*section9 style*/
#section9{
    position: relative;
    height: 120vh;
    overflow: hidden;
    color: #fff;
    margin-bottom: 120px;
}
.bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
}
.bg-img {
    position: absolute;
    width: 100%; height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}
.bg-img.active {
    opacity: 1;
}
#section9>.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.section9-inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.section9-inner>h2{
    font-size: 30px;
    padding: 80px 0;
}
.awards{
    display: flex;
    align-items: center;
    height: 100%;
}
.award-card{
    flex: 0 0 660px;   /* 카드 고정 */
    flex-shrink: 0;
    margin: 0 calc((100vw - 660px) / 2); /* 항상 중앙에 위치 */
    background: #111;
}
.thumnaill-img{
    width: 100%;
}
.thumnaill-img img{
    width: 100%;
}
.award-content-wrap{
    height: 323px;
    padding: 40px;
    position: relative;
}
.award-name{
    font-size: 18px;
    margin-bottom: 16px;
}
.award-title{
    font-size: 26px;
    margin-bottom: 21px;
}
.award-desc{
    font-size: 15px;
    line-height: 28px;
    color: #ccc;
}
.award-etc{
    font-size: 15px;
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.award-etc>a{
    display: flex;
    gap: 3px;
    align-items: center;
}
.award-etc>a>p:before{
    content:'';
    width:0%;
    height:1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s ease-in;
}
.award-etc>a>p{
    position: relative;
    padding: 5px 0;
}
.award-etc>a:hover>p:before{
    width: 100%;
}

/*section10 style*/
#section10{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/*space style*/
.space{
    display: flex;
    gap: 50px;
}
.space-img{
    width: 60%;
    max-width: 650px;
    flex-shrink: 0;
}
.space-img img{
    width: 100%;
}
.space-content{
    padding-top: 50px;
    display: flex;
    flex-direction:column;
    gap: 30px;
}
.space-title{
    font-size: 32px;
}
.space-desc{
    font-size: 20px;
    line-height: 1.5;
}
.space-btn{
    margin-top: 10px;
}
.space-btn>a{
    padding: 10px 15px;
    border: 1px solid #333;
    color: #333;
    border-radius: 20px;
    transition: 0.6s;
}
.space-btn>a:hover{
    color: #fff;
    background: #333;
}

/*roadtrip*/
.roadtrip{
    margin: 120px 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
}
.roadtrip-img{
    width: 60%;
    max-width: 650px;
    flex-shrink: 0;
}
.roadtrip-img img{
    width: 100%;
}
.roadtrip-content{
    padding-top: 50px;
    display: flex;
    flex-direction:column;
    gap: 30px;
    text-align: right;
}
.roadtrip-title{
    font-size: 32px;
}
.roadtrip-desc{
    font-size: 20px;
    line-height: 1.5;
}
.roadtrip-btn{
    margin-top: 10px;
}
.roadtrip-btn>a{
    padding: 10px 15px;
    border: 1px solid #333;
    color: #333;
    border-radius: 20px;
    transition: 0.6s;
}
.roadtrip-btn>a:hover{
    color: #fff;
    background: #333;
}

/*section11 style*/
#section11{
    overflow: hidden;
}
.event-banner-wrap{
    position: relative;
}
.event-img{
    width: 100%;
}
.event-content{
    position: absolute;
    left: 10%;
    top: 40%;
    color: #fff;
}
.event-title{
    font-size: 60px;
    margin-bottom: 50px;
}
.event-desc{
    font-size: 20px;
    margin-bottom: 50px;
}
.event-btn>a{
    display: inline-block;
    font-size: 14px;
    padding: 15px 60px;
    border: 1px solid #fff;
    transition: 0.6s;
}
.event-btn>a:hover{
    color: #111;
    background: #fff;
}

/*section12 style*/
#section12{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 120px 0;
}
#section12>h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.card-wrap{
    display: flex;
    gap: 40px;
}
.content-card{
    width: 33%;
    height: 480px;
    transition: 0.5s;
}
.content-card:hover{
    scale: 102%;
}
.card-thumnaill-img{
    width: 100%;
}
.card-thumnaill-img img{
    width: 100%;
}
.content-wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-name{
    font-size: 18px;
    padding: 20px 0;
    border-bottom: 2px solid #111;
}
.card-title{
    font-size: 16px;
    line-height: 1.5;
    color: #262626;
}
.card-etc>a{
    position: absolute;
    bottom: 0;
}
.card-etc>a>span{
    font-size: 14px;
    color: #262626;
    position: relative;
    padding: 5px 0;
}
.card-etc>a>span:before{
    content:'';
    width:0%;
    height:1px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s ease-in;
}
.card-etc>a:hover>span{
    color: #000;
}
.card-etc>a:hover>span:before{
    width: 100%;
}

/*footer style*/
#footer{
    width: 100%;
    background: #151515;
}
.footer-top{
    width: 100%;
    height: 100px;
}
.footer-top-inner{
    width: 100%;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.text-wrap{
    line-height: 50px;
}
.text-list{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.text-list>li>a{
    font-size: 14px;
}
.text-list>.color>a{
    color: #99785b;
}
.sns-list{
    display: flex;
    gap: 30px;
}
.sns-list>li>a>img{
    width: 30px;
    height: 30px;
}
.footer-bottom{
    width: 100%;
    border-top: 1px solid #2e2e2e;
}
.footer-bottom-inner{
    padding: 50px 0;
    text-align: center;
}
.footer-logo{
    margin-bottom: 25px;
}
.copyrights-text>p{
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
}

/*login modal style*/
.login-back{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 999;
}
.login-page{
    width: 40%;
    background: #fff;
    position: fixed;
    left: 50%;
    margin-left: -20%;
    top: 200px;
    border-radius: 30px;
    display: none;
    z-index: 1000;
}
form{
    max-width: 300px;
    width: 100%;
    margin: 30px auto 40px;
}
.login-page>h2{
    text-align: center;
    margin: 30px 0 20px;
    padding: 0;
}
.login-page>h2>a>img{
    width: 20%;
}
.formsection{
    padding: 5px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.formsection>label{
    display: none;
}
.formsection:nth-child(3){
    border-bottom: none;
    text-align: center;
    margin: 30px 0;
}
input{
    outline-style: none;
    border: none;
}
input[type="text"],
input[type="password"]{
    width: 300px;
}
.formsection>button{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px 0;
    transition: 0.4s;
    cursor: pointer;
}
.formsection>button:hover{
    background: #111;
    color: white;
}
.find{
    display: flex;
    justify-self: center;
    gap: 20px;
}
.find>li>a{
    font-size: 13px;
    color: #666;
    transition: 0.4s;
}
.find>li>a:hover{
    color: #000;
}

@media screen and (max-width: 1023px) {
    .genesis_logo>a>img{
        width: 150px;
    }
    .user-btn>img{
        width: 25px;
        height: 25px;
    }
    #section1{
        display: none;
    }
    .menu-inner {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .mainMenu-list {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 1000;
    }
    .subMenu-list {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        transition: .5s ease-in-out;
        transform: translateX(-100%);
        z-index: 1200;
    }
    .mainMenu-list li a {
        font-size: 20px;
    }
    .subMenu li a {
        font-size: 18px;
    }
    #section2 .overlay {
        z-index: 1;
    }
    #section3 .overlay {
        z-index: 1;
    }
    #section4 .overlay {
        z-index: 1;
    }
    #section5 .overlay {
        z-index: 1;
    }
    #section6 .overlay {
        z-index: 1;
    }
    #section7 .overlay {
        z-index: 1;
    }
    #horizontal-sections {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        height: 100vh;
    }

    #horizontal-sections::-webkit-scrollbar {
        display: none;
    }

    #horizontal-sections > section {
        flex: 0 0 100%;
        scroll-snap-align: start;
        height: 100vh;
    }
    .slide-dots {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 500;
    }

    .slide-dots .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(255,255,255,0.5);
        cursor: pointer;
        transition: background 0.3s;
    }

    .slide-dots .dot.active {
        background: #fff;
    }

    .section2-title,
    .section3-title,
    .section4-title,
    .section5-title,
    .section6-title,
    .section7-title{
        font-size: 50px;
    }
    .section2-content,
    .section3-content,
    .section4-content,
    .section5-content,
    .section6-content,
    .section7-content {
        position: absolute;
        top: 58%; 
        left: 10%;
        width: 80%;
        color: #fff;
        z-index: 3;
    }
    .section2-title,
    .section3-title,
    .section4-title,
    .section5-title,
    .section6-title,
    .section7-title{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .section2-desc,
    .section3-desc,
    .section4-desc,
    .section5-desc,
    .section6-desc,
    .section7-desc{
        font-size: 16px;
        line-height: 1.5;
    }
    #section2>.bg-video,
    #section3>.bg-video,
    #section4>.bg-video,
    #section5>.bg-video,
    #section6>.bg-video,
    #section7>.bg-video{
        display: none;
    }
    #section2{
        background: url(images/mobile/g90-mobile-750x1400-kr.avif) no-repeat 0 0;
        background-position: center;
        background-size: cover;
    }
    #section3{
        background: url(images/mobile/g80-mobile-750x1400.avif) no-repeat 0 0;
        background-position: center;
        background-size: cover;
    }
    #section4{
        background: url(images/mobile/g70-mobile.jpg) no-repeat 0 0;
        background-position: center;
        background-size: cover;
    }
    #section5{
        background: url(images/mobile/gv80-mobile.jpg) no-repeat 0 0;
        background-position: center;
        background-size: cover;
    }
    #section6{
        background: url(images/mobile/gv70-mobile.jpg) no-repeat 0 0;
        background-position: center;
        background-size: cover;
    }
    #section7{
        background: url(images/mobile/gv60-mobile.jpg) no-repeat 0 0;
        background-position: center;
        background-size: cover;
    }
    .lineUp-header>h2 {
        font-size: 35px;
        font-weight: 600;
    }
    .lineUp-header>p {
        font-size: 18px;
        line-height: 1.5;
        margin: 50px 0;
    }
    #section8 {
        padding: 100px 20px;
        background: #111;
        color: #fff;
    }
    .car-slider{
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    .car-card {
        flex-shrink: 0;
        scroll-snap-align: start;
        width: 100%;
        max-width: 450px;
        background: #151515;
        padding: 30px;
    }
    .car-slider::-webkit-scrollbar {
        display: none;
    }
    .car-card>h3{
        color: #fff;
        font-weight: normal;
    }
    .icon-list{
        margin: 50px 0;
    }
    .icon-list>ul{
        display: block;
    }
    .icon-list>ul>li>a{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 30px;
        border-bottom: 1px solid #2e2e2e;
    }
    .icon-box{
        width: 30px;
        height: 30px;
        margin: 0;
    }
    .icon-list>ul>li>a>p{
        margin-left: 15px;
    }
    .section9-inner>h2 {
        margin-left: 20px;
    }
    .award-card{
        flex:  0 0 90%;
        margin: 0 calc((100vw - 90%) / 2); /* 항상 중앙에 위치 */
    }
    .award-name {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .award-title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .award-desc {
        font-size: 14px;
        line-height: 24px;
        color: #ccc;
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        overflow-y: auto;
    }
    .award-etc {
        font-size: 14px;
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
    .space {
        width: 90%;
        margin: 0 auto 80px;
        display: flex;
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
    .space-img {
        width: 100%;
        flex-shrink: 0;
    }
    .space-content {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .space-title {
        font-size: 24px;
        color: #333;
    }
    .space-desc {
        font-size: 16px;
        line-height: 1.5;
        color: #555;
    }
    .space-btn>a {
        padding: 10px 80px;
        border: 1px solid #333;
        color: #333;
        border-radius: 20px;
        font-size: 14px;
    }
    .roadtrip {
        width: 90%;
        margin: 0 auto 80px;
        display: flex;
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
    .roadtrip-img {
        width: 100%;
        flex-shrink: 0;
    }
    .roadtrip-content {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .roadtrip-title {
        font-size: 24px;
        color: #333;
    }
    .roadtrip-desc {
        font-size: 16px;
        line-height: 1.5;
        color: #555;
    }
    .roadtrip-btn>a {
        padding: 10px 80px;
        border: 1px solid #333;
        color: #333;
        border-radius: 20px;
        font-size: 14px;
    }
    .event-content {
        position: absolute;
        width: 100%;
        left: 5%;
        top: 40%;
    }
    .event-desc {
        font-size: 18px;
    }
    .event-btn>a {
        text-align: center;
        width: 90%;
        padding: 15px;
    }
    #section12 {
        padding: 80px 0;
    }
    #section12>h2 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 50px;
    }
    .card-wrap {
        display: block;
    }
    .content-card {
        width: 90%;
        margin: 0 auto;
        height: 480px;
        transition: 0.5s;
    }
    .card-etc{
        position: relative;
    }
    .card-etc>a {
        position: absolute;
        top: 0;
    }
    .sns-wrap{
        margin: 0 auto;
    }
    .text-list {
        display: none;
    }
    .copyrights-text>p {
        font-size: 12px;
    }

    .login-page{
        width: 100%;
        margin: 0;
        background: #fff;
        position: fixed;
        left: 0;
        top: 25%;
        display: none;
        z-index: 1000;
    }
    .login-page>h2>a>img{
        width: 30%;
    }
}